<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="span12">
    <% if @user.employees.any? %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Working Hours</th>
            <th>At Work?</th>
            <th>Breaks</th>
            <th>Huddle</th>
            <th>One on Ones</th>
            <th>Team Meetings</th>
            <th>Other</th>
            <th>Other Meetings</th>
            <th>Training</th>
          </tr>
        </thead>

        <%= render @employees %>
      </table>
    <% end %>
  </div>
</div>
